.purchase-container {
    display: flex;
    margin-right: 3%;
    margin-left: 3%;

    .account {
        width: 20%;

        .edit-profile {
            padding: 15px 0;
            border-bottom: 1px solid #efefef;
            display: flex;

            .image {
                width: 50px;
                height: 55px;
            }

            .text {
                padding-left: 25px;
                flex: 1;

                .username {
                    font-weight: 600;
                    margin-bottom: 5px;
                    color: #333;
                }
            }
        }

        .account-option {
            padding: 0;
            margin: 25px 0 0;
            cursor: pointer;

            .option {
                margin-left: 5px;
                margin-bottom: 5px;
                display: flex;

                .option-image {
                    height: 1.3rem;
                    width: 1.3rem;
                    margin-right: 0.625rem;
                }

                .option-image img {
                    width: 100%;
                    height: 100%;
                }
            }

            .active-option {
                margin-left: 5px;
                margin-bottom: 5px;
                color: #ee4d2d
            }
        }
    }

    .order {
        border: solid red 1px;
        width: 80%;

        .order-status {
            display: flex;
            background-color: antiquewhite;

            .status {
                text-align: center;
                flex: 1
            }
        }

        .order-search {
            background-color: darkcyan;
        }

        .order-detail {
            background-color: antiquewhite;
        }
    }
}