.purchase-container {
    display: flex;
    margin-right: 3%;
    margin-left: 3%;
    margin-top: 1%;

    .account {
        width: 20%;

        .edit-profile {
            padding: 15px 0;
            border-bottom: 1px solid #efefef;
            display: flex;

            .image {
                width: 50px;
                height: 55px;
            }

            .text {
                padding-left: 25px;
                flex: 1;

                .username {
                    font-weight: 600;
                    margin-bottom: 5px;
                    color: #333;
                }
            }
        }

        .account-option {
            padding: 0;
            margin: 25px 0 0;
            cursor: pointer;

            .option {
                margin-left: 5px;
                margin-bottom: 5px;
                display: flex;

                .option-image {
                    height: 1.3rem;
                    width: 1.3rem;
                    margin-right: 0.625rem;
                }

                .option-image img {
                    width: 100%;
                    height: 100%;
                }
            }

            .active-option {
                margin-left: 5px;
                margin-bottom: 5px;
                color: #ee4d2d
            }
        }
    }

    .order {
        width: 80%;

        .order-status {
            display: flex;
            margin: 10px 0px;

            .status {
                text-align: center;
                flex: 1
            }

            .active-status {
                border-bottom: solid red 1px;
                color: red;
            }
        }

        .order-search {
            background-color: #EAEAEA;
            margin: 10px 0px;
            padding: 10px;
            display: flex;

            .text {
                padding-left: 10px;
            }
        }

        .order-detail {
            border-bottom: solid #F5F5F5 1rem;

            .top {
                display: flex;
                justify-content: space-between;
                margin: 0 10px;
                padding: 10px 0;
                border-bottom: solid 1px rgba(0, 0, 0, .09);
                cursor: pointer;

                .part-1 {
                    display: flex;

                    .top-1 {
                        height: 1rem;
                        /* width: 2.5rem; */
                    }

                    .top-1 img {
                        height: 100%;
                        width: 100%;
                    }

                    .top-2 {
                        font-weight: 600;
                        margin: 0 10px;
                    }

                    .top-3 {
                        height: 1.5rem;
                        margin-right: 10px;
                    }

                    .top-3 img {
                        height: 100%;
                        width: 100%;
                    }

                    .top-4 {
                        height: 1.5rem;
                    }

                    .top-4 img {
                        height: 100%;
                        width: 100%;
                    }
                }

                .part-2 {
                    display: flex;

                    .top-5 {
                        padding-right: 10px;
                        color: #26AA99;
                    }

                    .top-6 {
                        color: #ee4d2d;
                        border-left: solid 1px rgba(0, 0, 0, .09);
                        padding: 0 10px;
                    }
                }
            }

            .middle {
                display: flex;
                border-bottom: solid 1px rgba(0, 0, 0, .09);
                position: relative;
                margin: 10px 0;
                padding-bottom: 10px;
                /* align-items: center; */

                .product-image {
                    margin: 0px 10px;
                    height: 5rem;
                    width: 5rem;
                }

                .product-image img {
                    height: 100%;
                    width: 100%;
                }

                .product-description {
                    .product-title {
                        color: #333333;
                    }

                    .product-classification {
                        font-size: 0.9rem;
                    }

                    .product-quantity {
                        color: #333333;
                        font-size: 0.9rem;
                    }

                    .product-policy {
                        padding: 0 5px;
                        font-size: 0.9rem;
                        border: solid #EE4D2D 1px;
                        color: #EE4D2D;
                    }
                }

                .product-cost {
                    position: absolute;
                    right: 0;
                    display: flex;
                    margin-right: 15px;
                    top: 50%;
                    transform: translateY(-50%);

                    .pre-cost {
                        opacity: .26;
                        text-decoration-line: line-through;
                        margin-right: 10px;
                    }

                    .post-cost {
                        color: #EE4D2D;
                    }
                }
            }

            .cost {
                display: flex;
                position: relative;
                right: 0;
                justify-content: flex-end;
                margin: 20px 10px;

                .shop-img {
                    height: 1.5rem;
                    width: 1.5rem;
                    margin-right: 5px;
                }

                .shop-img img {
                    height: 100%;
                    width: 100%;
                }

                .text {}

                .value {
                    margin-left: 10px;
                    color: #EE4D2D;
                    font-size: 24px;
                }
            }

            .bottom {
                display: flex;
                margin: 15px;
                justify-content: space-between;

                .notion {
                    width: 40%;
                    font-size: 0.9rem;
                }

                .status {
                    border: solid 1px rgba(0, 0, 0, .09);
                    padding: 10px;
                    align-items: center;
                    text-align: center;
                    background-color: #E5E4E1;
                }

                .return-request {
                    border: solid 1px rgba(0, 0, 0, .09);
                    padding: 10px;
                    background-color: #E5E4E1;
                }

                .contact-seller {
                    border: solid 1px rgba(0, 0, 0, .09);
                    padding: 10px;
                }
            }
        }
    }
}